*, *::after, *::before {
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --clr-black: #0a0a0a;
    --clr-white: #fafafa;
    --clr-gray: #c4c4c4;
}

#grid-main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header{
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--clr-white);
    padding: 1em;
    font-weight: bold;
    padding-right: 2em;
}

.header.header-searchbar {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
}

.header.header-searchbar svg{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 1em
}

.search-bar input[type="text"]{
    border-radius: 6px;
    background-color: #dfdfdf;
    border: none;
    padding: 0.5em;
    flex:1;
}

.user-shortcut{
    display: flex;
    align-items: center;
    gap: 2em;
    justify-self: center;
}

.user-shortcut img{
    width: 2em;
    height: 2em;
    object-fit: scale-down;
}

.header.user-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4em;
    justify-content: space-between;
    padding: 0;
    padding-top: 0.5em;
}

.user-info {
    display: grid;
    grid-template-columns: 4em 1fr;
    grid-template-rows: 4em;
    align-items: center;
    gap: 1em;
}

.user-ava img {
    width: 4em;
    height: 4em;
    object-fit: scale-down;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
}

.buttons button {
    background-color: var(--clr-black);
    color: var(--clr-white);
    min-width: 100px; 
    min-height: 20px;
    padding: 0.5em 1.5em;
    border-radius: 12px;
    border-style: none;
    font-weight: bold;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--clr-black);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:max-content;
    justify-items: flex-start;
    padding: 1em;
    gap: 3em;
    font-weight: bold;
}

.dashboard-header{
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 0.25em;
}

.dashboard-header > p{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-navigation{
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
}

.user-navigation .item{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--clr-white);
}

.user-navigation .item svg{
    display: inline-block;
    fill: white;
    width: 1.5em;
    height: 1.5em;
}

.user-branding{
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
}

.user-branding .items{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--clr-white);
}

.user-branding .items svg{
    display: inline-block;
    fill: white;
    width: 1.5em;
    height: 1.5em;
}

.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--clr-gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 3fr;
    padding: 1em 1em;
    gap: 1em;
    font-weight: bold;
}

.content p {
    height: 1.25rem;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.projects > .card-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 1em;
    grid-auto-rows: minmax(160px, 1fr);

}

.card-items .card {
    padding: 1em;
    background-color: var(--clr-white);
    border-radius: 12px;
    display: grid;
}

.card .card-header{
    margin-bottom: 0.5em;
}

.card .card-content{
    font-weight: normal;
    max-width: 60ch;
    font-size: 0.75rem;
}

.card .card-footer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2em 2em 2em;
    justify-items: end;
    align-items: end;
    gap: 1em;
    justify-self: end;
}

.card .card-footer svg{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    gap: 1em;
}

.announcements .items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    grid-auto-rows: minmax(80px, 1fr);
    background-color: var(--clr-white);
    border-radius: 12px;
    padding: 1em;
}

.announcements .items .item:nth-child(-n+2) {
    border-bottom: 1px solid black;
}

.announcements .item .item-header{
    margin-bottom: 0.5em;
}

.announcements .item .item-content{
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 40ch;
    font-size: 0.75rem;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
}

.trending img {
    width: 3em;
    height: 3em;
    object-fit: scale-down;
}

.trending .items{
    display: grid;
    padding: 1em;
    background-color: var(--clr-white);
    border-radius: 12px;
}

.trending .items .item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    gap: 0.5em;
}

.trending .user-name {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    font-size: 0.75rem;
    justify-self: start;
    align-self: center;
}

.user-name .username {
    font-weight: normal;
} 

.item .user-ava{
    align-self: center;
    justify-self: center;
}